
@import '../../../variables';
.pagewrapper {
    margin: 15px;
  }
  
  .row {
    display: $display;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column-left {
    display: $display;
    flex-direction: column;
    width: 80%
  }
  .column-right {
    display: $display;
    flex-direction: column;
    width: 20%
  }
  
  .blue-column {
    
    height: 100px;
  }
  .cardDetails {
    margin: $margin;
  }
  
  